<%= form_with(model: event_template, local: true) do |f| %>
    <div>
      <%= f.label :summary %>
      <%= f.text_field :summary %>
    </div>
    <div>
      <%= f.label :length %>
      <%= f.text_field :length %>
    </div>
    <div>
      <%= f.label :location %>
      <%= f.text_field :location %>
    </div>
    <div>
      <%= f.label :color %>
      <%= f.text_field :color %>
    </div>
    <div>
      <%= f.label :avaliability %>
      <%= f.text_field :avaliability %>
    </div>
    <%= f.submit %>
<% end %>
